pkgbase = actual-server
	pkgdesc = Actual Budget Server
	pkgver = master
	pkgrel = 1
	url = https://github.com/actualbudget/actual
	arch = any
	license = MIT
	makedepends = git
	depends = yarn
	depends = nodejs
	options = !strip
	backup = etc/conf.d/actual-server
	source = actual-server-master.tar.gz::https://github.com/actualbudget/actual/archive/refs/heads/master.tar.gz
	source = actual-server.service
	source = actual-server.sysusers
	source = actual-server.tmpfiles
	source = actual-server.conf
	sha256sums = eb3ea73eb6f555ae3fe48121ad731da4598233987cca688ef3cfe2bd6c415508
	sha256sums = 4b7d8705609d0538edc2827bbaa58088c310b4cb668e6ba03fdfc33818ec8635
	sha256sums = 8972650fe50b14b543278d243d0bfe7ac655cdd5b4c63ce92a7ad27c835764e7
	sha256sums = cba6a5df66a42ced857822e1099be00f2e37ec800f29cbbfca7210020140291b
	sha256sums = 81a69c3376a1470c2f30aea4ebb3a354cf3c6a14679fa676e427e8b144d29f7c

pkgname = actual-server
