pkgbase = actual
	pkgdesc = Actual Budget
	pkgver = master
	pkgrel = 1
	url = https://github.com/actualbudget/actual
	arch = any
	license = MIT
	makedepends = git
	makedepends = gcc
	makedepends = make
	depends = yarn
	depends = nodejs
	options = !strip
	backup = etc/conf.d/actual
	source = actual-master.tar.gz::https://github.com/actualbudget/actual/archive/refs/heads/master.tar.gz
	source = actual-server.service
	source = actual.sysusers
	source = actual.tmpfiles
	source = actual.conf
	sha256sums = 3c73f8c59ddc31d74aba73a4506432370bc135a75ed6aea44b23ed3bb576ea7c
	sha256sums = b7cde49b3406e4809708286dd1668cefecc64bb7f849d3d87326f92a3554568c
	sha256sums = 8972650fe50b14b543278d243d0bfe7ac655cdd5b4c63ce92a7ad27c835764e7
	sha256sums = cba6a5df66a42ced857822e1099be00f2e37ec800f29cbbfca7210020140291b
	sha256sums = 81a69c3376a1470c2f30aea4ebb3a354cf3c6a14679fa676e427e8b144d29f7c

pkgname = actual
