[Unit]
Description=Actual Server

[Service]
Type=simple
WorkingDirectory=/usr/share/webapps/actual
User=actual
EnvironmentFile=/etc/conf.d/actual
ExecStart=/usr/bin/yarn start:server

[Install]
WantedBy=multi-user.target
